
<header>
<h1>Page Title: {{pageTitle}}</h1>
<p><a href = "/about">About</a></p>
<p><a href = "/projects">Projects</a></p>
<!--<p href = "/about"> Aboot</p> -->  <!-- This doesnt work for some reason, it seems you need an anchor  -->
</header>
