<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
  <!--  <h1>{{pageTitle}}</h1>   -->
  <!--  <p>{{welcomeMessage}}</p> -->

   <p>{{screamIt welcomeMessage}}</p>  <!--  // method with the tag of screamIt takes in parameter welcomeMessage's value -->

{{> footers}}
  </body>
</html>
